<% provide :title, t("static_pages.home.title") %>
<h1><%= t "static_pages.contact.title" %></h1>
<p>
  <%= t "static_pages.contact.sentence_1" %>
  <%= link_to t("static_pages.contact.link_1"),
    "https://www.railstutorial.org/contact" %>.
</p>
