<% provide :title, t("static_pages.home.title") %>
<h1><%= t "static_pages.home.title" %></h1>
<p>
  <%= t "static_pages.home.sentence_1" %>
  <%= link_to t("static_pages.home.link_1"), "https://www.railstutorial.org" %>
  <%= t "static_pages.home.sentence_2" %>
</p>
