<li>
  <%= gravatar_for user, size: Settings.all_user.avatar_size %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) && !user.admin? %>
  | <%= link_to t(".delete"), user, method: :delete,
    data: {confirm: t(".confirm")} %>
  <% end %>
</li>
