<%= link_to gravatar_for(current_user, size: Settings.all_user.avatar_size), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to t(".view_my_info"), current_user %></span>
<span><%= pluralize(current_user.microposts.count, "micropost") %></span>
